<AuthorizeView>
    <Authorized>        
        <a href="logout">Log Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login/">Log in</a>
    </NotAuthorized>
</AuthorizeView>




























