@page "/"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components.Web;
@using MudBlazor;
@using Normalna.Client.Shared;
@inject AuthenticationStateProvider AuthState
@attribute [Authorize]


<PageTitle>c</PageTitle>

<h1>Welcome</h1>
