@page "/"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthState
@attribute [Authorize]

<PageTitle>co te code mi tu gada</PageTitle>

<h1>Welcome</h1>
   